*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
  color: #fff;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}


